*,::before,::after{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.bg-color{
    background-color: #E9ECEF;
}
.mp-0{
    margin: 0px;
    padding: 0px;
}
.pd{
    padding: 3px;
    border-radius: 3px;
}
.mato{
    margin-top: 30px;
}